<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <form method="post" action="/logout">
                <button>ログアウト</button>
            </form>
        </div>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
