@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap-theme/bootstrap.min.css" />
</head>
<body>
    <header class="bg-primary">
        <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark py-4 px-3">
            <div class="container-fluid">
                <a href="/" class="navbar-nav text-white text-decoration-none fw-bold h1">Trsys</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex align-items-center">
                        <div class="p-1">
                            <a href="/changePassword" class="btn btn-light">パスワード変更</a>
                        </div>
                        <div class="p-1">
                            <form method="post" action="/logout">
                                <button class="btn btn-light">ログアウト</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </nav>
        @if (env.IsDevelopment())
        {
            <div class="bg-success text-white h4 font-weight-bold py-2 px-3">
                <div class="container-fluid">
                    検証環境
                </div>
            </div>
        }
    </header>
    <main class="py-3 px-3">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
