[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.7"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
django-redis-cache = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python manage.py runserver 0.0.0.0:8000"
server = "gunicorn trsys.wsgi -b 0.0.0.0:8000"
collectstatic = "python manage.py collectstatic --noinput"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
test = "python manage.py test --debug-mode"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
