[requires]
python_version = "3.7"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
locust = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[scripts]
start = "locust --headless -u 50 -r 10 --run-time 1m --stop-timeout 99 --host https://localhost:5001"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
