@model Trsys.Web.ViewModels.Home.ChangePasswordViewModel

@{
    ViewBag.Title = "パスワード変更";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger mb-4">
        @Model.ErrorMessage
    </div>
}

<h1 class="h2 mb-3 font-weight-bold">@ViewBag.Title</h1>

<form method="post">
    <div style="max-width: 40rem">
        <div class="mb-2">
            <label class="form-label">新しいパスワード</label>
            <input class="form-control" type="text" name="NewPassword" value="@Model.NewPassword" autocomplete="new-password" />
        </div>
        <div class="mb-3">
            <label class="form-label">新しいパスワード(確認用)</label>
            <input class="form-control" type="password" name="NewPasswordConfirm" value="@Model.NewPasswordConfirm" autocomplete="new-password" />
        </div>
        <div>
            <button class="btn btn-primary">変更</button>
        </div>
    </div>
</form>
