@model Trsys.Web.ViewModels.Home.LoginViewModel

@{
    ViewBag.Title = "ログイン";
}

<h1>ログイン</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div>
        @Model.ErrorMessage
    </div>
}
<form method="post">
    <div>
        <input type="text" name="Username" value="@Model.Username" />
    </div>
    <div>
        <input type="password" name="Password" value="@Model.Password" />
    </div>
    <div>
        <button>ログイン</button>
    </div>
</form>